websocket
websocket-client
xlwt
datasets>=2.0.0
jsonlines
numexpr
openai
omegaconf>=2.2
pybind11>=2.6.2
pycountry
pytablewriter
rouge-score>=0.0.4
sacrebleu==2
scikit-learn>=0.24.1
sqlitedict
tqdm-multiprocess
transformers>=4.1
zstandard
requests
escapejson
tqdm
typing_extensions
flask
rouge_chinese
diplomat
pytrie
vllm
accelerate>=0.20.3